html {
    scroll-snap-type: y mandatory;
}

.App{
    height: 100vh;
    background-color: black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    display: grid;
    place-items: center;
}


.app_videos {
    position: relative;
    background-color: white;
    height: 560px;
    border-radius: 20px;
    overflow: scroll;
    width: 65%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

.app_videos::-webkit-scrollbar{
    display: none;
}

.app_videos{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
